/* Reset stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End reset stylesheet */

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    src: url('../images/MetaWebPro-Book.woff') format('woff');
}
@font-face {
    font-family: 'Meta';
    font-weight: normal;
    font-style: italic;
    src: url('../images/MetaWebPro-BookIta.woff') format('woff');
}
@font-face {
    font-family: 'Meta';
    font-weight: bold;
    src: url('../images/MetaWebPro-Bold.woff') format('woff');
}

body {
    background-color: #000000;
    font-family: MetaBook-Roman, 'Meta';
    color: #FFFFFF;
    padding: 1em;
    overflow: hidden;
    line-height: 1.2;
}

#alert {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 0.5em;
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 22em;
    text-align: center;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

/* Header row */
header {
    display: block;
    height: 7em;
}
header h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: MetaBold-Roman, 'Meta';
    background: -moz-linear-gradient(center bottom, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.4));
    padding: 0.1em 0.3em 0.2em;
    position: absolute;
    top: 0;
    text-shadow: 2px 2px 2px #000000;
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
}
header section {
    float: right;
    text-align: right;
}

#date-time {
    display: inline-block;
    line-height: 1;
}
#world-clock li {
    position: absolute;
    left: 70%;
    top: 30px;
    display: none;
    text-align: center;
}
#world-clock li time {
    display: block;
    font-size: 1.2em;
}
#world-clock li span {
    color: #CCCCCC;
}
#date {
    display: block;
    font-size: 1.5em;
    text-align: right;
}
#time {
    font-size: 3em;
    display: block;
}
#mfbt {
    text-align: right;
    color: #333333;
    display: block;
}

#content {
    clear: both;
    display: block;
}

/* Firefox */
#firefox {
    float: left;
    width: 40%;
}
#firefox h1 {
    color: #D64203;
    font-size: 4em;
    font-weight: bold;
    font-family: MetaBold-Roman, 'Meta';
    vertical-align: middle;
    float: left;
}
#firefox h1 img {
    display: inline;
    vertical-align: middle;
}
#firefox h1 span {
    margin-left: 0.3em;
    text-shadow: 1px 1px 1px #CCCCCC;
}
#firefox .downloads {
    position: relative;
    margin: 5em 2em 1em 0;
}
#firefox .downloads .total {
    margin-bottom: 1em;
}
#firefox .downloads .count {
    display: block;
    text-align: right;
    font-size: 3em;
}
#firefox .downloads .label {
    display: block;
    text-align: right;
    font-size: 2em;
    color: #CCCCCC;
}
#firefox .downloads .change span {
    position: absolute;
    color: green;
    font-size: 2em;
    right: 0.5em;
    top: -0.7em;
    opacity: 1;
}
#firefox .downloads .change span.go {
    -moz-transition-property: top, opacity;
    -moz-transition-duration: 5s;
    -webkit-transition-property: top, opacity;
    -webkit-transition-duration: 5s;
    top: -2.5em;
    opacity: 0;
}
#firefox .tweets h2 {
    font-size: 1.5em;
}
#firefox .tweets .hidden {
    display: none;
}
#firefox .tweets li {
    clear: left;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0 0;
    min-height: 48px;
}
#firefox .tweets li img {
    float: left;
    margin-right: 0.4em;
    width: 48px;
    height: 48px;
}
#firefox .tweets li span {
    display: block;
    margin-bottom: 0.4em;
    font-size: 0.85em;
    color: #CCCCCC;
}
#firefox .tweets li time {
    float: right;
    font-style: italic;
    font-family: MetaBook-Italic, 'Meta';
}
#firefox .tweets li a {
    text-decoration: none;
    color: #666666;
}
#firefox .tweets li b {
    color: #D64203;
    text-decoration: none;
}

/* Features */
#features {
    float: right;
    width: 59%;
    margin-bottom: 1em;
}
#rotating {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    vertical-align: top;
    margin-right: 1em;
    width: 60%;
    font-size: 0.9em;
}

#amo h1 {
    position: relative;
    left: -40px;
    top: -40px;
    margin-bottom: -3.5em;
}
#amo h1 img {
    vertical-align: middle;
    display: inline;
}
#amo h1 span {
    color: #3A66B0;
    font-weight: bold;
    font-family: MetaBold-Roman, 'Meta';
    font-size: 3em;
    vertical-align: middle;
    margin-left: 0.2em;
    text-shadow: 1px 1px 1px #CCCCCC;
}
#amo p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.2m;
}
#amo p span {
    color: #3A66B0;
    font-weight: bold;
    font-family: MetaBold-Roman, 'Meta';
    font-size: 1.2em;
}
#amo p strong {
    font-weight: bold;
    font-family: MetaBold-Roman, 'Meta';
}
#amo-counts {
    text-align: center;
    border-top: 1px solid #333333;
    margin-top: 1em;
    padding: 1em 0;
}
#amo-counts div {
    display: inline-block;
    text-align: center;
    width: 45%;
}
#amo-counts .count {
    display: block;
    font-size: 2em;
}
#amo-counts .label {
    color: #CCCCCC;
    font-size: 1.2em;
}

#events {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    vertical-align: top;
    margin-left: 1em;
    width: 29%;
}
#events p {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1em;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    text-align: center;
}

/* Local */
#local {
    float: right;
    width: 59%;
    margin-top: 1em;
}
#traffic {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    vertical-align: top;
    max-width: 27%;
}
#traffic-map {
    background: url(http://traffic.511.org/portalmap2.gif) no-repeat scroll -61px -143px transparent;
    width: 293px;
    height: 318px;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    margin: 0.5em 0;
}
#traffic-map b {
    color: red;
    font-size: 3em;
    left: 156px;
    position: relative;
    top: 206px;
}
#traffic span {
    font-size: 0.8em;
    text-align: right;
    display: block;
}
#caltrain-weather {
    display: inline-block;
    margin: 0 2em;
    vertical-align: top;
    width: 30%;
}
#caltrain {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    width: 91%;
}
#caltrain h2 .logo {
    font-style: italic;
    font-weight: bold;
    font-family: MetaBold-Italic, 'Meta';
    font-family: Arial;
    font-size: 1.2em;
}
#caltrain h2 .train {
    background-color: #C71B1B;
    -moz-border-radius: 7em;
    -webkit-border-radius: 0.7em;
    padding: 0.4em 0;
}
#caltrain table {
    padding: 1em;
    margin: 0 auto;
    width: 100%;
}
#caltrain th {
    text-align: center;
    padding: 0.5em 0;
    color: #CCCCCC;
}
#caltrain th span {
    background-color: rgba(255, 255, 255, 0.2);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 0 0.5em;
}
#caltrain td {
    padding: 0.2em 0.5em;
    vertical-align: middle;
}
#caltrain td.notrains {
    color: #CCCCCC;
    font-style: italic;
    text-align: center;
    font-family: MetaBook-Italic, 'Meta';
}
#caltrain td.notrains.nb {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#caltrain td.time {
    font-size: 1.2em;
}
#caltrain td.type {
    text-transform: uppercase;
    font-size: 0.9em;
}
#caltrain td.type.nb {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding-right: 1.5em;
}
#caltrain td.time.sb {
    padding-left: 1.5em;
}
#caltrain .local,
#caltrain .saturday {
    color: #CCCCCC;
}
#caltrain .bullet {
    color: #C71B1B;
}
#caltrain .limited {
    color: #C2732B;
}
#weather {
    display: inline-block;
     background-color: rgba(255, 255, 255, 0.1);
     -moz-border-radius: 0.5em;
     -webkit-border-radius: 0.5em;
     padding: 1em;
     width: 91%;
     margin-top: 2em;
     text-align: center;
}
#weather div {
    background-color: #FFFFFF;
    padding: 0.2em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    display: inline-block;
    text-align: center;
    width: 28%;
    vertical-align: top;
}
#weather #weather-mv {
    margin: 0 0.5em;
}
#weather div h3 {
    color: #333333;
    font-size: 0.8em;
}
#weather span {
    display: block;
    margin-top: 0.2em;
    color: #333333;
    font-size: 0.8em;
}

#pto {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    vertical-align: top;
    max-width: 30%;
}
#pto p {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1em;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    text-align: center;
}

/* DEBUG 
#firefox { background: red; }
#features { background: green; }
#local {background: blue; } */