/* Reset stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End reset stylesheet */

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    src: url('../images/MetaWebPro-Book.woff') format('woff');
}
@font-face {
    font-family: 'Meta';
    font-weight: bold;
    src: url('../images/MetaWebPro-Bold.woff') format('woff');
}

body {
    background-color: #000000;
    font-family: 'Meta';
    color: #FFFFFF;
    padding: 1em;
}

/* Header row */
header h1 {
    font-size: 4em;
    font-weight: bold;
    float: left;
}
header section {
    float: right;
}
#weather {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
    background-color: #FFFFFF;
    padding: 0.2em;
    -moz-border-radius: 0.5em;
}
#weather span {
    display: block;
    margin-top: 0.2em;
    color: #000000;
}
#date-time {
    display: inline-block;
}
#date {
    display: block;
    font-size: 1.5em;
    text-align: right;
}
#time {
    font-size: 3em;
    display: block;
}

#content {
    clear: both;
    display: block;
}

/* Firefox */
#firefox {
    display: inline-block;
}
#firefox h1 {
    color: #D64203;
    font-size: 4em;
}
#firefox .downloads {
    position: relative;
}
#firefox .downloads .total {
    margin-bottom: 1em;
}
#firefox .downloads .count {
    display: block;
    text-align: right;
    font-size: 3em;
}
#firefox .downloads .label {
    display: block;
    text-align: right;
    font-size: 2em;
    color: #CCCCCC;
}
#firefox .downloads .change span {
    position: absolute;
    color: green;
    font-size: 2em;
    right: 0.5em;
    top: -0.7em;
    opacity: 1;
}
#firefox .downloads .change span.go {
    -moz-transition-property: top, opacity;
    -moz-transition-duration: 5s;
    top: -2.5em;
    opacity: 0;
}
#firefox .tweets h2 {
    color: #00D4FF;
    font-weight: bold;
    text-shadow: 0px 2px 1px #FFFFFF, 0px -2px 1px #FFFFFF, 2px 0px 1px #FFFFFF, -2px 0px 1px #FFFFFF;
    font-size: 2em;
}
#firefox .tweets .hidden {
    display: none;
}
#firefox .tweets li {
    clear: left;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0 0;
    min-height: 48px;
}
#firefox .tweets li img {
    float: left;
    margin-right: 0.4em;
    width: 48px;
    height: 48px;
}
#firefox .tweets li span {
    display: block;
    margin-bottom: 0.4em;
    font-size: 0.85em;
    color: #CCCCCC;
}
#firefox .tweets li time {
    float: right;
    font-style: italic;
}
#firefox .tweets li a {
    text-decoration: none;
    color: #666666;
}
#firefox .tweets li b {
    color: #D64203;
    text-decoration: none;
}


/* Transportation */
#transportation {
    display: inline-block;
    vertical-align: top;
}
#transportation h1 {
    font-size: 2em;
}
#traffic {
    display: inline-block;
    vertical-align: top;
}
#traffic-map {
    background: url(http://traffic.511.org/portalmap2.gif) no-repeat scroll -61px -143px transparent;
    width: 293px;
    height: 318px;
    -moz-border-radius: 0.5em;
}
#traffic span {
    font-size: 0.8em;
    text-align: right;
    display: block;
}
#caltrain {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 0.5em;
    padding: 1em;
    vertical-align: top;
}
#caltrain h2 {
    text-align: center;
}
#caltrain h2 .logo {
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    font-size: 1.2em;
}
#caltrain h2 .train {
    background-color: #C71B1B;
    -moz-border-radius: 7em;
    padding: 0.4em 0;
}
#caltrain table {
    padding: 1em;
}
#caltrain th {
    text-align: center;
    padding: 0.5em 1em;
    color: #CCCCCC;
}
#caltrain td {
    padding: 0.2em 0.5em;
    vertical-align: middle;
}
#caltrain td.time {
    font-size: 1.2em;
}
#caltrain td.type {
    text-transform: uppercase;
    font-size: 0.9em;
}
#caltrain td.type.nb {
    border-right: 1px solid #CCCCCC;
    padding-right: 1.5em;
}
#caltrain td.time.sb {
    padding-left: 1.5em;
}
#caltrain .bullet {
    color: #C71B1B;
}
#caltrain .limited {
    color: #C2732B;
}